@charset "utf-8";


/*****  about_us.css  *********************************************/

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Sejong hospital Light";
}

.page {
    width: 100%;
    height: 100%;
    /* outline: 2px solid red; */
    overflow: hidden; /*!!!*/
}


/***  class bnav   *********************************/

.bnav {
    /* outline: 2px solid red; */
    width: 16px;
    position: fixed;
    right: 3%;
    top: 50%;
    transform: translateY(-30%);
    z-index: 8888;

}

.bnav li {
    margin: 10px 0;
    width: 100%;
}

.bnav li a {
    color: #7fbade;
}

.bnav li a span {}


.bnav .selB a{
    color:  #212e63 !important;
}



/*****  main  *********************************/

main {
    width: 100%;
    height: 100%;
    background: url(../image/about-us-main.png) no-repeat top center;
}

main .main-title {
    position: relative;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -44%);

    text-align: center;
    text-transform: uppercase;

    color: #fff;

    /* animation: slide 2s; */

}


/* @keyframes slide{
    from{
        top: 60%;
    }
    to{
        top: 44%;
    }
} */
/* 이렇게 하는것보단 제이쿼리로 한번에 효과주는게 좋음!! */

main .main-title p {
    font-size: 36px;
    margin-bottom: 20px;
}

main .main-title h2 {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}

main .main-title h3 {
    font-size: 28px;
    margin-bottom: 66px;
}

main .main-title h4 {
    font-size: 40px;
}

/******** Class intro********************/

.intro {
    width: 100%;
    height: 100%;
    background: url(../image/about-us-intro.png) no-repeat top center;
    /* outline: 2px solid pink; */
}

.intro .intro-title {
    position: relative;
    /* top: 50%; */
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* animation: slide 2s; */
    opacity: 0;
}

.intro .intro-title p {
    font-size: 30px;
    padding-top: 50px;
    margin-bottom: 50px;
}

.intro .intro-title h2 {
    font-size: 40px;
    margin-bottom: 50px;
}

.intro .intro-title h2 span {
    font-size: 50px;
    font-weight: bold;
}

.intro .intro-title h4 {
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 2;
}

/*****************************************************/

.img-wrap {
    width: 50%;
    height: 100%;
}

/*********** Class initial & Class optimum****************************/


.initial,
.optimum {
    width: 100%;
    height: 100%;

    /* outline: 2px solid pink; */
}

.initial .img-wrap,
.optimum .img-wrap {
    float: left;
}

.initial img,
.optimum img {
    display: block;
    width: 100%;
    height: 100%;
}

.initial .txt-wrap,
.optimum .txt-wrap {
    float: right;
    width: 50%;
    padding: 5%;
    box-sizing: border-box;
    position: relative;
    top: 40%;
    left:0%;
}

.initial .txt-wrap h3,
.optimum .txt-wrap h3 {
    font-size: 28px;
    margin-bottom: 50px;
}

.initial .txt-wrap h3 span,
.optimum .txt-wrap h3 span {
    font-size: 48px;
    font-weight: bold;

}

.initial .txt-wrap p,
.optimum .txt-wrap p {
    line-height: 1.5;
    font-size: 24px;
    margin-bottom: 40px;
}


/*****  Class best  ************/

.best {
    width: 100%;
    height: 100%;
    /* outline: 2px solid pink; */
}


.best .txt-wrap {
    float: left;
    width: 50%;
    padding: 5%;
    box-sizing: border-box;
    position: relative;
    top: 40%;
    left:0;
}

.best .txt-wrap h3 {
    font-size: 28px;
    margin-bottom: 50px;
}


.best .txt-wrap h3 span {
    font-size: 48px;
    font-weight: bold;
}

.best .txt-wrap p {
    line-height: 1.5;
    font-size: 24px;
    margin-bottom: 40px;
}

.best .img-wrap {
    float: right;
}

.best img {
    display: block;
    width: 100%;
    height: 100%;
}





/******  Class outro  *******************/


.outro {
    width: 100%;
    height: 100%;
    background: url(../image/about-us-outro.png) no-repeat top center;
    /* outline: 2px solid pink; */
}

.outro .outro-title {
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    font-size: 36px;
    line-height: 1.4;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
}
